.input_container {
  height: 4.8rem;
  position: relative;
  align-items: center;
  display: flex;
}

.input_icon {
  font-size: 2.4rem;
  z-index: 5;
  position: relative;
  margin: 0 1.2rem;
  color: #7C7C8A;
}

.input {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1.2rem 1.6rem 1.2rem 4.8rem;
  height: 100%;
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  background-color: #202024;
  color: white;
  font-size: 1.6rem;
}

.input::placeholder {
  color: #7C7C8A;
}

